*{
    margin: 0;
}
#cookie_message{
    background-color: lightgray;
    margin-top: 85vh;
    padding: 3em;
}
#cookie_message p{
    text-align: center; 
    padding: 1em; 

}
button{
    margin-left: 50%;
    padding: 1em;
    font-size: 12px;
}